<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e"> <!-- TODO: Find a way to make use of variable as in official UR ROS2 driver. -->
  <echo message="srdf started"/>
  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur"/>
  <!-- parameters -->
  <xacro:arg name="tf_prefix" default="" />

  <xacro:include filename="$(find moveit_config_ur)/srdf/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf name="$(arg name)" tf_prefix="$(arg tf_prefix)"/>

</robot>
